
<!-- NAVIGATION -->

<!-- MAIN CONTENT -->
<div class="table-head">
	<div class="tr">
		<div class="td name">Student</div>
		<div class="td check">Present</div>
		<div class="td check">Late</div>
		<div class="td check">Absent</div>
		<div class="td check">Excused</div>
	</div>
</div>
<%= form_tag cohort_attendance_path(@cohort, params[:id]), method: "patch" do %>
	<div class="table">
		<% @attendances.each_with_index do |attendance, i| %>
		<% even_odd = ((i % 2 == 0) ? 'even' : 'odd')%>
			<div class="tr <%= even_odd %>">
				<div class="td name">

					<p><%= attendance.student.name %></p>
				</div>
				<div class="td check">
					<input type="checkbox" name="students[<%= attendance.student_id %>][present]" <%= attendance.present == true ? 'checked' : nil %> >
				</div>
				<div class="td check">
					<input type="checkbox" name="students[<%= attendance.student_id %>][late]" <%= attendance.late == true ? 'checked' : nil %> >
				</div>
				<div class="td check">
					<input type="checkbox" name="students[<%= attendance.student_id %>][absent]" <%= attendance.absent == true ? 'checked' : nil %> >
				</div>
				<div class="td check">
					<input type="checkbox" name="students[<%= attendance.student_id %>][excused]" <%= attendance.excused == true ? 'checked' : nil %> >
				</div>
			</div>
		<% end %>
	</div>
	<%= submit_tag %>
<% end %>

