
<div class="table-head">
	<div class="td name">
		Student
	</div>
	<div class="td date">
		Date
	</div>
	<div class="td check">
		Present?
	</div>
	<div class="td check">
		Late?
	</div>
	<div class="td check">
		Absent?
	</div>
	<div class="td check">
		Excused?
	</div>
</div>
<div class="table">
	<% @attendances.each_with_index do |attendance, i| %>
		<% even_odd = ((i % 2 == 0) ? 'even' : 'odd')%>
		<div class="tr <%= even_odd %>">
			<div class="td name">
				<%= attendance.student.name %>
			</div>
			<div class="td date">
				<%= attendance.date %>
			</div>
			<div class="td check">
				<%= attendance.present %>
			</div>
			<div class="td check">
				<%= attendance.late %>
			</div>
			<div class="td check">
				<%= attendance.absent %>
			</div>
			<div class="td check">
				<%= attendance.excused %>
			</div>
		</div>
	<% end %>
</div>
<!-- attendance list -->