	<!-- whatever view you render this partial in must have a @troubled query in its route in it's controller -->


<div class="table-head">
	<div class="tr">
		<div class="td name">Student</div>
		<div class="td check">Lates</div>
		<div class="td check">Absences</div>
		<div class="td check">Official Absences</div>
	</div>
</div>

<div class="table">
	<%# @troubled.each_with_index do |student, i| %>
	<% @troubled.each do |student| %>
	
		<%# flagged = (student.flagged? ? 'flagged' : nil) %>
		<%# even_odd = ((i % 2 == 0) ? 'odd' : 'even')%>
		<div class="tr <%#= even_odd %> <%#= flagged %> f<%= student.official_absences %>">
				<div class="td name"><%= link_to "#{student.name}", cohort_student_path(student.cohort_id, student.id) %></div>
				<div class="td check"><%= student.lates %></div>
				<div class="td check"><%= student.absences %></div>
				<div class="td check"><%= student.official_absences %></div>
		</div>
	<% end %>
</div>