<!DOCTYPE html>
<html>
<head>
  <title>Slackr</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- 	<nav>
		<ul>
			<% if @current_user.instructor? %>
				<li><%=link_to "Attendance" %></li>
			<% elsif @current_user.producer? %>
				<li><%= link_to "Producer Attendance" %></li>
			<% elsif @current_user.student? %>
				<li><%= link_to "Student" %></li>
			<% end %>
		</ul>
	</nav> -->

<%= yield %>

</body>
</html>
