<div class="edit">
	<%= form_for @current_user, url: user_update_pass_path(@current_user) do |form| %>
		<%= form.label :new_password, "new password" %><br>
		<%= form.password_field :password %><br>
		<%= form.label :password_confirmation, "password confirmation" %><br>
		<%= form.password_field :password_confirmation %><br>
		<%= form.submit 'Update Password' %>
<% end %>
</div>