

Welcome <%= @current_user.type %> with name <%= @current_user.name %>




<%= render "students/rostertotals" %>

<script>


//  var searchDate = function(cohort_id, date){
//   debugger
//   $.ajax({
//     url: "/cohorts/" + cohort_id + "/attendances/" + date,
//     type: "GET",
//     dataType: 'json',
//     data: {
//       // cohort_id: cohort_id,
//       date: date
//     }
//   }).done(function(response){
//     console.log(response)
//   });
// };

 $(function(){
  $('#date-picker').datepicker()
})

// $("#date-picker").on('click',function(e) {
//   console.log('hello')
//     e.preventDefault();
//     if(e.which == 13) {
//       console.log("enter")
//       var date = $("#date-picker").val()
//       var cohort_id = $("#cohort_id").val()
//         searchDate(cohort_id, date )
//     }
// });

</script>

<form action="/cohorts/<%= params[:cohort_id] %>/attendances/" method ="GET"class="search-date">
  <input type="text" name="date" placeholder="enter date" id="date-picker">
  <input type="submit" value="go to date">
</form>


<% if @current_user.producer? %>

  <%= render "navs/producers" %>

  <script type="text/javascript">
   // $(this).ready(function(){
      $("#all-cohorts").hide();
      $(".cohort-view").hide();
   // });
  </script>

<% elsif @current_user.instructor? %>

  <script type="text/javascript">
   // $(this).on('click', ".cohort-view", function(){
      $(".cohort-view").hide();
   // });
  </script>


 
<% end %>

