	<%= render "buttons/cohort_view" %>
	<%= render "buttons/troubled_students" %>
	<%= render "buttons/today" %>
	<%= render "buttons/date_picker" %>
	<div class="flex-vertical"></div>
	<div class="heading"><%= @current_user.name %></div>
	<%= render "buttons/edit_profile" %>
	<%= render "buttons/logout" %>
