
	<%= render "buttons/student_history" %>
	<%= render 'buttons/contact_producer' %>

	<div class="flex-vertical"></div>
	<div class="heading"><%= @current_user.name %>, <%= @current_user.type %></div>

	<%= render "buttons/edit_profile" %>
	<%= render "buttons/logout" %>
