<div>
	<%= form.label :name %><br>
	<%= form.text_field :Name %>
</div>

<div>
	<%= form.label :email %><br>
	<%= form.text_field :Email %>
</div>

<div>
	<%= form.label :phone_num %><br>
	<%= form.text_field :phone_Num %>
</div>

<!-- this needs to get worked on after lunch. -->