<%= form_for @current_user, url: user_update_pass_path(@current_user) do |form| %>
	<div>
		<%= form.label :confirm_old_password %><br />
		<%= form.password_field :password %>
	</div>

	<div>
		<%= form.label :new_password %><br />
		<%= form.password_field :password_new %>
	</div>

	<div>
		<%= form.label :password_confirmation %><br />
		<%= form.password_field :password_confirmation %>
	</div>

	<div class="action">
	 		<%= form.submit 'Update Password' %>
	</div>
<% end %>