
<!-- NAVIGATION -->

<!-- MAIN CONTENT -->
<div class="tr heading">
	Cohort: <%= @cohort.name %> | 
		<% if @attendances.first.nil? %> 
			Date: N/A
		<% else %>
			Date: <%= @attendances.first.date %>
		<% end %>
</div>
<div class="table-head">
	<div class="tr">
		<div class="td name">Student</div>
		<div class="td check">Present</div>
		<div class="td check">Late</div>
		<div class="td check">Absent</div>
		<div class="td check">Excused</div>
	</div>
</div>
<div class="table">
	<%= form_tag cohort_attendance_path(@cohort, params[:id]), method: "patch" do %>
		<% @attendances.each_with_index do |attendance, i| %>
			<% even_odd = ((i % 2 == 0) ? 'even' : 'odd')%>
			<div class="tr <%= even_odd %>">
				<div class="td name">
					<p><%= attendance.student.name %></p>
				</div>
				<!-- each row needs to be in its own for it to have one selection only -->
				<div class="td check">
					<input type="radio" name="students[<%= attendance.student_id %>][presence]" value="present" <%= attendance.present == true ? "checked='checked'" : nil %> >
					<label for="present">present</label>
				</div>
				<div class="td check">
					<input type="radio" name="students[<%= attendance.student_id %>][presence]" value="late" <%= attendance.late == true ? "checked='checked'" : nil %> >
					<label for="late">late</label>
				</div>
				<div class="td check">
					<input type="radio" name="students[<%= attendance.student_id %>][presence]" value="absent" <%= attendance.absent == true ? "checked='checked'" : nil %> >
					<label for="absent">absent</label>
				</div>
				<div class="td check">
					<input type="checkbox" name="students[<%= attendance.student_id %>][excused]" value="excused" <%= attendance.excused == true ? 'checked' : nil %> >
					<label for="excused">excused</label>
				</div>
				<!-- placement marker ==================== -->
			</div>
		<% end %>
		<div class="tr">
			<div class="flex-horizontal"></div>
			<button type="submit" id="saved" class="submit">SAVE</button>
		</div>
	<% end %>
</div>
<% if @attendances.first.nil? %>
	<div class="student-message"><p>No scheduled classes for this date</p></div>
	<script>$('.submit').hide()</script>
<% end %>

<% if Date.today.to_s == params[:id] %>
  <script type="text/javascript">
      $(".today").addClass('ghosted');
  </script>
<% end %>